<html>
    <body>
        <style>
            #center{
                width: 20px;
                height: 20px;
                background-color: aqua;
                transform: translate(100px,10px);
            }
            #textbox{
                transform: translate(20px,10px);
            }
            #bg{
                background-color: darkturquoise;
            }
        </style>
        <div id="bg">
        <form action="#" th:action="@{/adduser}" th:object="${register}" method="post">
            
                <div id="photo">
                    <p>photo</p>
                    <div id="textbox">
                        <input type="text" placeholder="textbox"> <br><br>
                        <div id="center">
                            <input type="submit" value="Tweet">
                        </div>
                    </div>
                </div>
            
        </form>
    </div>
    </body>
</html>