<html>
    <head>
        <style>
#main{
    height: 700px;
    width: 700px;
    transform: translate(500px,100px);
    border: 1px solid black;
}

#signuptext{
    height: 50px;
    width: 500px;
    text-align: center;
    transform: translate(100px,0px);
}

#fname{
    height: 50px;
    width: 500px;
    background-color: aqua;
    transform: translate(100px,0px);
}
#name{
    transform: translate(5px,15px);
}
#fnamebox{
    height: 30px;
    width: 200px;
    transform: translate(120px,-25px);
}
        </style>
    </head>

    <body>
<div id="main">
    <div id="signup">
        <h1 id="signuptext">Sign-Up Form</h1>
    </div>
    <div id="fname">
        <p id="name">First Name</p>
        <input type="text" id="fnamebox" placeholder="First Name">

    </div>
</div>
    </body>
</html>